.filter {

  padding: 12px 40px;
  border-radius: 8px;
  width: 250px;

  color: #fff;
}
.find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}
